:root{
    --header-height:100px;
    --footer-height:30px;
    --button-height:70px;
    --edit-container-padding:2rem;
    --general-padding:24px;
    --general-margin:24px;
}

body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Rubik', sans-serif;
    font-size: 16pt;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
/* Set padding to keep content from hitting the edges */
.body-content {
    flex:1;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

header {
    padding: 0.5rem 2rem;
    color: rgb(255,255,255,1);
}

    header h1 {
        font-family: 'Pacifico', cursive;
        font-size: 2rem;
        margin: 0;
        line-height: 3.5rem;
    }

header h4{
    margin:0;
    line-height:1rem;
}

.spinner{
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.7); /* White background with opacity */
  z-index:1055;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.spinner-caption{
  margin-top:10px;
  font-weight:bold;
  font-size:2rem;
  color:black;
}

.spinner-border{
    height:3rem;
    width:3rem;
}

.login-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding-top:var(--general-padding);
}

.login-box{
    width:100%;
    max-width:500px;
    background-color:white;
    padding:var(--general-padding);
    border-radius:5px;

}

.entries-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: masonry;
}

.book-entry {
    position: relative;
    width: 100%;
    max-width: 500px;
    background-color: #ffffff5c;
    backdrop-filter: blur(30px);
    margin: var(--general-margin) 0;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
}

.book-entry .guest{
    border-bottom:1px solid #e9e9e9;
    line-height:1;
    color: #302035;
    font-weight:bold;
    padding:var(--general-padding);
}

.book-entry .content{
    padding:var(--general-padding);
}

    .book-entry .message {
        padding-bottom: var(--general-padding);
        white-space: pre-wrap;
    }

.add-button{
    padding-top:var(--general-padding);
    text-align:center;
}

.edit-container{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    padding-top:var(--edit-container-padding);
}

.edit{
    width:100%;
    max-width:700px;
    background-color:white;
    padding-top:var(--general-padding);
    padding-bottom:var(--general-padding);
    margin:0;
    border-radius:5px;
}

.key{
    display:flex;
    flex-direction:row;
    justify-content:center;    
    font-size:1.7rem;
    font-weight:bold;
    padding:var(--general-padding) 0;
    margin:0;
    margin-top:1rem;
}

.key p{    
    margin:0;
    padding:5px 10px;
    border:1px solid #7a7a7a;
    border-radius:5px;
}

.icon-button{    
    padding:3px 10px !important;
    background-color:#ededed;
    color:#636363;
}

.edit-button{
    position:absolute;
    right:calc(var(--general-padding) - (var(--general-padding) / 2));
    top:calc(var(--general-padding) - (var(--general-padding) / 2));
}

.delete-button{
    background-color:#f3efef;
    color:#ff2121;
    border:1px solid #e1e1e1;
}

.delete-button:hover {
   color:#ff4646;
}

.delete-button:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color:#ff4646;
}

.delete-button.focus, .delete-button:focus {
    color:#ff4646;
    box-shadow: 0 0 0 0.2rem rgba(255, 125, 152, 0.5);
}

.media{
    padding:var(--general-padding) 0;
}

.media img, .media video{
    max-width:100%;
    max-height:500px;
    margin:0 auto;
}

.custom-file{
    margin-top: var(--general-margin);
}
.custom-file-label{
    overflow:hidden;
}

.no-padding{
    padding:0;
}

.modal-title{
    padding:0;
}

.outcome-message{
    text-align:center;
    font-weight:bold;
    margin-bottom:0;
}

.form-group label{
    font-weight:bold;
}

.form-check{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.form-check-input{
    margin-top:0;
}

.btn{
    padding:4px 50px;
    font-size:1.2rem;
}

.btn-primary {
    color: #fff;
    background-color: #7b2cbf;
    border-color: #7b2cbf;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #9e4ee2;
        border-color: #7b2cbf;
    }

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #7b2cbf;
        border-color: #7b2cbf;
    }

    .btn-primary.focus, .btn-primary:focus {
        color: #fff;
        background-color: #7b2cbf;
        border-color: #7b2cbf;
        box-shadow: 0 0 0 0.2rem rgba(255, 125, 152, 0.5);
    }

a{
    color: #8c8c8c;
    text-decoration: none;
    background-color: transparent;
}

a:hover{
    color: #8c8c8c;;    
}

.modal-body{
    font-size:1.2rem;
}

footer{
    display:flex;
    flex-direction:row;
    align-items:flex-end;
    font-size:1rem;
    padding-top:var(--general-padding) 5px;
}

.v-center{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

footer p{
    margin:0;
}